In [2]:
! /opt/homebrew/opt/python@3.10/bin/python3.10 -m pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp310-cp310-macosx_11_0_arm64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.22.4 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/abhishek/Library/Python/3.10/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/abhishek/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 7.0 MB/s eta 0:00:00a 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [pandas]2m2/3 [pandas]
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: /opt/homebrew/opt/python@3.10/bin/python3.10 -m pip install --upgrade pip

### Pandas Library

In [6]:
import pandas as pd

## Key Data structures in Pandas

* Series
* Dataframe

In [10]:
s = pd.Series([1,2,3,4,5])

# Series is a labelled array

In [9]:
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
 # Data frame 
df = pd.DataFrame({"name":["Abhishek","Rohan","Aryan"],"Marks":[12,23,43]})
df

       name  Marks
0  Abhishek     12
1     Rohan     23
2     Aryan     43

In [12]:
# Reading a csv dataset
df = pd.read_csv("dataset.csv")
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,...,OBS_VALUE,Observation Value,OBS_STATUS,Observation Status,UNIT_MEASURE,Unit of Measures,UNIT_MULT,Multiplier,BASE_PER,Base reference period
0,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,...,2.3,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
1,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,...,2.4,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
2,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,...,3.8,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
3,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,CZE,Czechia,JE_LMIS,Labour market insecurity,L,Value,...,2.3,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN
4,DATAFLOW,OECD:DF_BLI(1.0),Better Life Index,I,DNK,Denmark,JE_LMIS,Labour market insecurity,L,Value,...,4.5,NaN,A,NaN,PC,Percentage,0,Units,NaN,NaN

In [13]:
df.shape

(2369, 22)

In [14]:
df.describe()

,OBS_VALUE,Observation Value,Observation Status,UNIT_MULT,BASE_PER,Base reference period
count,2369.000000,0.0,0.0,2369.0,0.0,0.0
mean,5299.220612,NaN,NaN,0.0,NaN,NaN
std,41894.336828,NaN,NaN,0.0,NaN,NaN
min,0.000000,NaN,NaN,0.0,NaN,NaN
25%,7.100000,NaN,NaN,0.0,NaN,NaN
50%,66.000000,NaN,NaN,0.0,NaN,NaN
75%,88.000000,NaN,NaN,0.0,NaN,NaN
max,941162.000000,NaN,NaN,0.0,NaN,NaN